.result {
  text-align: right;
  padding: 2rem;
  font-size: 4.5rem;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  grid-template-areas:
    "7 8 9 del"
    "4 5 6 add"
    "3 2 1 sub"
    "dot 0 divide multiply"
    "reset reset equal equal";
}

.app.theme2 .buttons-grid {
  background: $toggle-background2;
}

#add {
  grid-area: add;
}
#sub {
  grid-area: sub;
}
#divide {
  grid-area: divide;
}
#multiply {
  grid-area: multiply;
}
#dot {
  grid-area: dot;
}
#del {
  grid-area: del;
}
#reset {
  grid-area: reset;
  padding: 2rem;
}
#equal {
  grid-area: equal;
  padding: 2rem;
}

%btn {
  display: inline-block;
  border: 0;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  font-weight: bold;
  outline: none;
  box-shadow: 0px -4px 0px 1px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  text-align: center;
  transition: 0.5s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.btn-primary {
  @extend %btn;
  font-size: 3.5rem;
}
.btn-secondary,
.btn-third {
  @extend %btn;
  color: $white;
  font-size: 2rem;
}

.app.theme1 {
  .btn-primary {
    background: $main-key-background;
    color: $text-color;
  }
  .btn-secondary {
    background: $second-key-background;
  }
  .btn-third {
    background: $third-key-background;
  }
}

.app.theme2 {
  .btn-primary {
    background: $main-key-background2;
    color: $text-color2;
  }
  .btn-secondary {
    background: $second-key-background2;
  }
  .btn-third {
    background: $third-key-background2;
  }
}

.app.theme3 {
  .btn-primary {
    background: $main-key-background3;
    color: $text-color3;
  }
  .btn-secondary {
    background: $second-key-background3;
  }
  .btn-third {
    background: $third-key-background3;
  }
}
