.result {
  text-align: right;
  height: 100px;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  grid-template-areas:
    "7 8 9 del"
    "4 5 6 add"
    "3 2 1 sub"
    "dot 0 divide multiply"
    "reset reset equal equal";
}

#1 {
  grid-area: 1;
}
#2 {
  grid-area: 2;
}
#3 {
  grid-area: 3;
}
#4 {
  grid-area: 4;
}
#5 {
  grid-area: 5;
}
#6 {
  grid-area: 6;
}
#7 {
  grid-area: 7;
}
#8 {
  grid-area: 8;
}
#9 {
  grid-area: 9;
}
#0 {
  grid-area: 0;
}
#add {
  grid-area: add;
}
#sub {
  grid-area: sub;
}
#divide {
  grid-area: divide;
}
#multiply {
  grid-area: multiply;
}
#dot {
  grid-area: dot;
}
#del {
  grid-area: del;
}
#reset {
  grid-area: reset;
}
#equal {
  grid-area: equal;
}

%btn {
  display: inline-block;
  border: 0;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem;
  outline: none;
  cursor: pointer;
  text-align: center;
  &:hover {
    transform: scale(1.1);
  }
}

.btn-primary {
  @extend %btn;
}
.btn-secondary,
.btn-third {
  @extend %btn;
  color: $white;
}

.calculator.theme1 {
  .btn-primary {
    background: $main-key-background;
    color: $text-color;
  }
  .btn-secondary {
    background: $second-key-background;
  }
  .btn-third {
    background: $third-key-background;
  }
}

.calculator.theme2 {
  .btn-primary {
    background: $main-key-background2;
    color: $text-color2;
  }
  .btn-secondary {
    background: $second-key-background2;
  }
  .btn-third {
    background: $third-key-background2;
  }
}

.calculator.theme3 {
  .btn-primary {
    background: $main-key-background3;
    color: $text-color3;
  }
  .btn-secondary {
    background: $second-key-background3;
  }
  .btn-third {
    background: $third-key-background3;
  }
}
