.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .themes,
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    margin: 0 0.5rem;
  }
  p {
    margin: 2rem 2rem 0;
  }
}

.switch {
  background-color: $toggle-background;
  border-radius: 9999px;
  display: inline-flex;
  padding: 5px;
  width: 100%;
}

.app.theme2 .switch {
  background-color: $toggle-background2;
}
.app.theme3 .switch {
  background-color: $toggle-background3;
}

.switch__label {
  border-radius: 9999px;
  cursor: pointer;
  padding: 8px;
}

.switch__label--selected {
  /* For selected radio only */
  background-color: $third-key-background;
  color: #fff;
}

.app.theme2 .switch__label--selected {
  background-color: $third-key-background2;
}
.app.theme3 .switch__label--selected {
  background-color: $third-key-background3;
}

.switch__input {
  display: none;
}
