.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .themes,
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
  }
}
